[Unit]
Description=HTTP that provides WebRTC controller access to Luxonis camera

[Service]
User=gary
WorkingDirectory=/home/gary/Luxonis/luxonis-webrtc-controller
ExecStart=/home/gary/Luxonis/venv/bin/python main.py
# optional items below
Restart=always
RestartSec=3
# replace /home/user/.virtualenv/bin/python with your virtualenv and main.py with your script

[Install]
WantedBy=multi-user.target
